name: Release

on:
  push:
    tags: 
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version-file: go.mod
    - name: check version
      env:
        RELEASE_TAG: ${{ github.ref_name }}
      run: |
        if ! grep $RELEASE_TAG flake.nix; then
          echo "Version not found in flake.nix"
          exit 1
        fi
    - name: download dependencies
      run: go mod download
    - name: build all
      env:
        RELEASE_TAG: ${{ github.ref_name }}
      run: make all
    - name: artifacts
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: release
        path: bin

  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
      with:
        name: release
        path: bin
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
      with:
        artifacts: "bin/*"
