name: Release

on:
  push:
    tags: 
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version-file: go.mod
    - name: check version
      env:
        RELEASE_TAG: ${{ github.ref_name }}
      run: |
        if ! grep $RELEASE_TAG flake.nix; then
          echo "Version not found in flake.nix"
          exit 1
        fi
    - name: download dependencies
      run: go mod download
    - name: build all
      env:
        RELEASE_TAG: ${{ github.ref_name }}
      run: make all
    - name: artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: release
        path: bin

  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      with:
        name: release
        path: bin
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
      with:
        artifacts: "bin/*"
